<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href = "/css/styles.css">
    <link rel="icon" href = "/img/weather.png">
</head>
<title>404</title>
<body>
    <div class = "main-content">
       {{>header}}
    <h1> {{errormessage}} </h1> 
    </div>
    
    {{>footer}}
</body>

</html>