<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href = "/css/styles.css">
    <link rel="icon" href = "/img/weather.png">
</head>
<title>About</title>
<body>
    <div class = "main-content">
     {{>header}} <!--setup the partial-->
    <img src = "/img/me.jpg" height="200" width="200">
    </div>
   

    {{>footer}}
</body>

</html>