<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href = "/css/styles.css">
    <link rel="icon" href = "/img/weather.png">
</head>
<title>Help</title>
<body>
    <div class = "main-content">
        {{>header}} <!-- setup the partial--> 
    <p>{{helpText}}</p>
    </div>
    {{>footer}}
</body>

</html>